@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@700&family=Red+Hat+Display:ital,wght@0,700;0,900;1,500&display=swap');


h6{ 

    color:
       hsl(225, 100%, 94%) 
       hsl(245, 75%, 52%) 
      hsl(224, 23%, 55%)
       hsl(223, 47%, 23%)
   }
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;            
    justify-content: center;            
    align-items: center;
    font-size: 16px;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;
    background-size: 100% ;
    min-height:100vh;
    background-color: hsl(225, 100%, 94%) ;
}
    
    
    
    
.container {
    
    max-width: 450px;
    
    text-align: center;
    background-color:white;
    border-radius:20px;
    padding-bottom:50px ;
}
.container img {
    border-radius: 20px 20px 0 0;
    
}

.yazi h1 {
    color:hsl(223, 47%, 23%);
}
.yazi  {
    margin: 30px;
}
.yazi p {
    margin: 20px;
    padding: 0 20px;
    font-size:16px;
    color: hsl(224, 23%, 55%);
}
.annual {
    margin:10px 45px;
    background-color:hsl(225, 100%, 98%) ;
    border-radius:10px;
    align-items:center;
    font-weight: bold;
    justify-content:space-between;
}
.annual .fiyat {
    color:hsl(224, 23%, 55%);
}


.annual img {
    margin: 20px;
    display: inline-block;
    
}
.annual-content {
    
    
    display: flex;
    align-items:center;
    /* justify-content:space-between; */
}
.music {
    flex: 1;
}

.orta {
    /* justify-self: flex-start; */
    display: flex;
    flex-direction: column;
    flex:1;
}
.change {
    flex:2;
    text-align: right;
    padding:30px;
    
}
.change a {
    color:hsl(245, 75%, 52%);
    
}
.change a:hover {
    opacity: 0.8;
}
    
#proc {
   
    display: block;
    margin: 30px 45px;
    padding: 15px;
    background-color:hsl(245, 75%, 52%);
    color:white;
    border-radius:10px;
    text-decoration: none;
    box-shadow: 0px 20px 10px hsl(225, 100%, 94%);
}
#proc:hover {
    opacity: 0.8;
}

#cancel {
    text-decoration: none;
    color:hsl(224, 23%, 55%);
    
}
#cancel:hover {
    color:hsl(223, 47%, 23%);
}
